.imagestyle{
    width: 80%;
    object-fit: cover;
    border-radius: 7%;
    border: 3px solid rgb(238 237 237 / 25%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  }

  .headerfontstyle{
    font-weight: 500;
  }