<div class="row mt-3 ml-1" style="width: 100%;">
    <!-- <div class="col">
      <h3>Manage Coupon Codes</h3>
    </div> -->

    <div class="col-4 mt-1 mb-3">
        <span style="font-weight: 500;">Create new plan for corporate</span>
        <button mat-raised-button type="submit" color="primary" class="btn-sm ml-4" (click)="CreateCorporatePlan()"
            style="box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;"> + create </button>
    </div>

    <!-- <div class="col-2 mt-1 mb-3 ml-5">
        <button mat-raised-button type="submit" class="btn btn-primary btn-sm ml-4"
            (click)="CreateCorporatePlanType()"  style="height: fit-content; background-color: #cb4141;color: white;"> + Create Plan Type </button>
    </div>

    <div class="col-4 mt-1 mb-3">
        <button mat-raised-button type="submit"  class="btn btn-primary btn-sm ml-4"
        routerLink="/admindashboard/corporate-plan-types" routerLinkActive="active" style="height: fit-content; background-color: #cb4141;color: white;"> Manage Corporate Plans Types -></button>
    </div> -->


</div>


<div class="grid-container">

    <div class="vmedo-admin-enquiry-table">
        <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;">

            <div class="row modal-header col-12  text-white vmedoadmintableheader">

                <div class="col-6 mt-2">

                    <h2>Corporate plan list - {{dataSource.data?.length}}</h2>

                </div>

                <div class="col-6 mt-2 mb-1 form-group" style="color:white;justify-content: flex-end;">
                    <input class="form-control" fxFlex="50%" style="border-radius: 12px;" type="text"
                        (keyup)="doFilter($event.target.value)" placeholder="Search corporate plan...">
                </div>

            </div>


            <table mat-table matSort [dataSource]="dataSource" matSortActive='organisationID' matSort>

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Enquired By Column -->
                <ng-container matColumnDef="id">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>ID</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.id}} </td>
                </ng-container>



                <!-- Enquired By Column -->
                <ng-container matColumnDef="created_on">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Registered On
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.created_on | date:medium}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="organisationName">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Corporate
                            Name</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.organisationName}}
                    </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="organisationPlan">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Plan Type
                        </strong></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.organisationPlan}}
                    </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="planCode">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <strong>Plan Code</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        {{element.planCode}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="totalCredit">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <strong>Total Credit</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.totalCredit}}
                    </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="planStatus">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>
                            Active Status</strong>
                    </th>

                    <td mat-cell *matCellDef="let element"
                        [ngClass]="{'false-value': element.planStatus === false, 'true-value': element.planStatus === true}"
                        style="font-weight: 500;"> {{element.planStatus ? 'Active' : 'Inactive'}} </td>

                    <!-- <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.organisationStatus ? '&#10003;' :
                        '&#10005;'}} </td> -->

                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="validtill">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Valid Till
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.validtill | date:medium}} </td>
                </ng-container>


                <!-- Users Details -->
                <ng-container [matColumnDef]="'actions'">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong>Actions</strong> </th>

                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex justify-content-start align-items-center" style="gap: 0.5rem;width: max-content;">
                            <button type="button"
                                    matTooltip="Add Credit"
                                    class="btn btn-danger btn-sm"
                                    (click)="addCredit(element.id)">
                              Add Credit
                            </button>
                      
                            <button type="button"
                                    matTooltip="Edit Details"
                                    class="btn btn-danger btn-sm"
                                    (click)="UpdateCorporatePlan(element.id)">
                              Edit Details
                            </button>
                          </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[50, 100, 250]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>


        </div>

    </div>
</div>