
  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.mat-dialog-container {
    padding: 0px !important;
}


.mat-dialog-actions {
margin-bottom: 0px;
}

.toast-success {
    background-color: #bb2534 !important;
    top: 60px;
}
  /* .mat-dialog-container {
    padding: 0px !important;
} */