<div class="mt-4">

<nav mat-tab-nav-bar>

  <!-- <a mat-tab-link
[routerLink]="['/admindashboard/hospitallist/hospitalupdaterequest/approvehospitalupdates']"
routerLinkActive #rla7="routerLinkActive"
[active]="rla7.isActive">

<span class="unblockBadgeColor" matBadge="{{hospitalUpdatesNumber?.length}}"  matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="primary">
 Approve Hospital Emergency handle and specialization request</span>
</a> -->



  <!-- <a mat-tab-link
  [routerLink]="['/admindashboard/hospitallist/hospitalupdaterequest/hospitalchangeslist']"
  routerLinkActive #rla6="routerLinkActive"
  [active]="rla6.isActive">
  
  <span class="generalDetailsRequestBadgeColor" matBadge="{{hospitalChangesNumber?.length}}"  matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="primary">
    Hospital general details request</span>
</a> -->

<!-- <a mat-tab-link
[routerLink]="['/admindashboard/hospitallist/hospitalupdaterequest/hospitalupdates']"
routerLinkActive #rla7="routerLinkActive"
[active]="rla7.isActive">

<span class="unblockBadgeColor" matBadge="{{hospitalUpdatesNumber?.length}}"  matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="primary">
  Hospital Emergency handle and specialization request</span>
</a> -->

</nav>

<router-outlet>

</router-outlet>


</div>
