<div class="container-fluid">



    <div class="row container-fluid mt-4">

        <div class="col-3">

            <h3 style="font-weight: 500; text-align-last: center;">Add hospital emergency handle :</h3>

        </div>



        <div class="col-7" >


            <form #hospitalEmergencyHandledForm="ngForm" (ngSubmit)="hospitalEmergencyHandledData(hospitalEmergencyHandledForm.value);hospitalEmergencyHandledForm.reset();">

                <mat-form-field appearance="legacy" fxFlex="50" hidden>
                    <mat-label> ID</mat-label>

                    <input matInput placeholder="ID" [(ngModel)]="bedID" type="text" name="ID" required>
                </mat-form-field>

                <mat-form-field appearance="legacy" fxFlex="40">
                    <mat-label>Enter hospital emergency handled</mat-label>

                    <input matInput placeholder="Enter hospital emergency handled" type="text" ngModel name="Emergencyhandel" required>
                </mat-form-field>



                <button mat-raised-button type="submit" color="primary"
                    class="btn btn-primary btn-sm ml-4" style="height: fit-content;" [disabled]="!hospitalEmergencyHandledForm.valid">Submit</button>
            </form>

        </div>

    </div>


    <div class="container-fluid mt-4">


        <div class="grid-container">

            <div class="vmedo-admin-enquiry-table">
                <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;">
        
                    <div class="row modal-header col-12  text-white vmedoadmintableheader">
        
                        <div class="col-6 mt-2">
        
                            <h2>Emergency Handeld</h2>
        
                        </div>
        
                        <div class="col-6 mt-2 mb-1 form-group" style="color:white;justify-content: flex-end;">
                            <input class="form-control" fxFlex="50%" style=" font-size: 12px; border-radius: 12px;" type="text"
                                (keyup)="doFilter($event.target.value)" placeholder="Search emergency handel...">
                        </div>
        
                    </div>
        
        
                    <table mat-table matSort [dataSource]="dataSource">
        
        
                        <!-- Enquired By Column -->
                        <ng-container matColumnDef="id">
                            <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Emergency handle ID</strong>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
        
                        <!-- Enquired By Column -->
                        <ng-container matColumnDef="emergencyhandel">
                            <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>
                                Emergency handeld</strong></th>
                            <td mat-cell *matCellDef="let element"> {{element.emergencyhandel}} </td>
                        </ng-container>

                        <ng-container [matColumnDef]="'actions'">
                            <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong>Update</strong> </th>
                            <td mat-cell *matCellDef="let element">

                                <button class="mr-3" mat-icon-button (click)="onEditEmergencyHandle(element)"
                                    matTooltip="Update">
                                    <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                                </button>

                                <!-- <button class="ml-3" mat-icon-button matTooltip="Delete">
                                    <mat-icon mat-icon-button color="warn">delete</mat-icon>
                                </button> -->

                            </td>
                        </ng-container>
        
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                    </table>
        
                    <mat-paginator [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
        
        
                </div>
        
            </div>
        </div>

    </div>
</div>