.sidenav-container {
    height: 100%;
  }
  
  ::ng-deep mat-nav-list img {
    height: 20px;
  }

  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .profile-card{
  
    text-align: center;
    padding: 0px 20px 20px 20px;
  }
  
  .imagestyle{
    height: 146px;
      width: 146px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(238 237 237 / 25%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  }
  
  
  ul li {
    list-style: none;
    margin-top: 15px;
  }

  .loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .loader:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .highlighted-icon {
    color: black; /* You can adjust the style as needed */
    font-weight: 500;
    background-color: rgb(236, 236, 236);
    font-size: 14px;
  }
  
  .menuTextfont{
    font-size: 12px;
  }

  .toolbar-header,.header-left,.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }