<div class="grid-container">

    <div class="vmedo-admin-enquiry-table">
        <div class="mat-elevation-z8">

            <div class="row modal-header col-12  text-white vmedoadmintableheader">

                <div class="col-6 mt-2">

                    <h2>Registered users list - {{dataSource.data?.length}}</h2>

                </div>

                <div class="col-6 mt-2 mb-1 form-group" style="color:white;justify-content: flex-end;">
                    <input class="form-control" fxFlex="50%" style="border-radius: 12px;" type="text"
                        (keyup)="doFilter($event.target.value)" placeholder="Search users...">
                </div>

            </div>


            <table mat-table matSort [dataSource]="dataSource" matSortActive='registered_on' matSortDirection='desc'
                matSort>

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Enquired By Column -->
                <ng-container matColumnDef="profilePhoto">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Profile
                            photo</strong></th>
                    <div class="profile-card">
                        <td mat-cell *matCellDef="let element">

                            <img class="imagestyle mb-2 mt-2" [src]="element.profilePhoto" alt="Profile photo"
                                onerror="this.src='assets/Images/user_profile.png';" jLightbox />

                            <!-- <img class="imagestyle mb-2 mt-2" [src]="element.profilePhoto" alt="Profile photo"> -->

                        </td>
                    </div>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="registered_on">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Registered On
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.registered_on | date:medium}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="uName">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Username</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.uName}} </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="uMobile">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Mobile
                            Number</strong></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.uMobile}} </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="uEmail">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Email</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.uEmail}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="uType">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Type</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.uType}} </td>
                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="uStatus">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Status</strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.uStatus ? '&#10003;' :
                        '&#10005;'}} </td>

                </ng-container>


                <!-- Enquired By Column -->
                <ng-container matColumnDef="mobileVerified">
                    <th class="headerstyle" style="text-align: center;" mat-header-cell *matHeaderCellDef
                        mat-sort-header><strong> Mobile verified
                        </strong></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.mobileVerified ?
                        '&#10003;' : '&#10005;'}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="emailVerified">
                    <th class="headerstyle" style="text-align: center;" mat-header-cell *matHeaderCellDef
                        mat-sort-header><strong> Email Verified
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.emailVerified ?
                        '&#10003;' : '&#10005;'}} </td>
                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="isPaidMember">
                    <th class="headerstyle" style="text-align: center;" mat-header-cell *matHeaderCellDef
                        mat-sort-header><strong> User type
                        </strong>
                    </th>

                    <td mat-cell *matCellDef="let element" style="text-align: center;">

                        <!-- <button mat-raised-button color="warn"> 
                            {{element.isPaidMember ? 'Premium' : 'Default'}}
                        </button> -->

                        <button mat-raised-button class="custom-button"
                            [ngClass]="{'yellow-button': element.isPaidMember}">
                            {{element.isPaidMember ? 'Premium' : 'Default'}}
                        </button>

                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="isDoner">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Is Blood donor
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">

                        <button mat-raised-button color="warn" class="btn-sm" style="height: fit-content;" type="submit"
                            (click)="onBloodDonation(element.userID)">
                            {{element.isDoner ? 'yes' : 'no'}}
                        </button>

                </ng-container>

                <!-- Enquired By Column -->
                <ng-container matColumnDef="hasEID">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong> Emergency ID
                        </strong>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">

                        <button mat-raised-button color="warn" class="btn-sm" style="height: fit-content;" type="submit"
                            (click)="onEmergencyID(element.userID)">
                            {{element.hasEID ? 'yes' : 'no'}}
                        </button>

                    </td>
                </ng-container>

                <!-- Users Details -->
                <ng-container [matColumnDef]="'actions'" hidden>
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong>Actions</strong> </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="mr-3" mat-icon-button matTooltip="Details">
                            <button type="button" class="btn btn-danger btn-sm"
                                (click)="emergencyID(element.userID)">Details</button>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
   
            <mat-paginator [pageSizeOptions]="[50, 100, 250]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>


        </div>

    </div>
</div>

  <div *ngIf="userRole === 1;">
    <button type="button" (click)="fileDownload()">Export Data</button>
  </div>