.cancelbutton{
    margin-top: -17%;
    background-color: #e7e7e7;
}
.mat-dialog-container {
    padding: 0px !important;
}


.mat-dialog-actions {
margin-bottom: 0px;
}

.toast-success {
    background-color: #bb2534 !important;
    top: 60px;
}

.package-subscription-field .mat-form-field-infix {
    height: 100px; /* Set the height of the input element to fill the container */
  }