<div class="mt-3 ml-3 mb-3">
    <h2>Hospital waiting for approval data</h2>
</div>

<mat-divider></mat-divider>





<div class="container mt-3">
    <div class="row">
        <div class="col-3">

            <div class="headerfontstyle">
                <h3>Properties</h3>
            </div>


        </div>


        <div class="col-4">
            <div class="headerfontstyle">
                <h3>Details</h3>
            </div>

        </div>

    </div>

    <mat-divider></mat-divider>

    <!--------------hospital image ------------------------------------------------>

    <div class="row mt-3">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Image</h4>
            </div>

        </div>


        <div class="col-4">

            <div> <img class="imagestyle" [src]="hospitalDetails.hImage" alt="Hospital Image" onerror="this.src='assets/Images/welcome_hospital_icon3.png';"></div>

        </div>

    </div>

    <!------------------------- hospital name ----------------------------->

    <div class="row mt-4">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Name -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hospitalName}} </div>

        </div>

    </div>

    <!------------------------- hospital email ----------------------------->

    <div class="row mt-4">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Email -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hEmail}} </div>

        </div>

    </div>


    <!------------------------- hospital rating ----------------------------->

    <div class="row mt-4">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Rating -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hRating}} </div>

        </div>

    </div>

    <!------------------------- hospital address ----------------------------->

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Address - </h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hAddress}} </div>

        </div>

    </div>

    <!------------------------- date ----------------------------->

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Date created -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.createdon}} </div>

        </div>

    </div>


    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>City -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hCity}} </div>

        </div>

    </div>

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Emergency contact number -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.emergencyDContact}} </div>

        </div>

    </div>

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>General contact number -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.generalDContact}} </div>

        </div>

    </div>



     <!------------------------- hospital name ----------------------------->

     <div class="row mt-4">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital manager Name -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hmanager}} </div>

        </div>

    </div>



    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Manager contact number -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.hmcontact}} </div>

        </div>

    </div>



    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Show hospital on search -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.astatus}} </div>

        </div>

    </div>

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Accept emergencies currently -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.emergencyHandelStatus}} </div>

        </div>

    </div>

    <!-- <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Emergencies Handeled -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.emergencyHandeled}} </div>

        </div>

    </div>

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Specialization -</h4>
            </div>

        </div>


        <div class="col-4">

            <div>{{hospitalDetails.lSpelization}} </div>

        </div>

    </div> -->

    <!---------------------Approve or pending Emergencies handled ------------------------>

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Emergencies Handeled -</h4>
            </div>

        </div>

        <div class="col-8 text-align">

            <div class="tablealign">

                <div class="mat-elevation-z8">
                    <div class="example-header">

                        <div class="row modal-header col-12  text-white hospitalbedstableheader">

                            <div class="col mt-2">

                                <h2>Emergencies handled</h2>

                            </div>


                            <!-- <div class="col-6 mt-3 form-group" style="color:white;justify-content: flex-end;">
                            <input class="form-control" fxFlex="50%" style="border-radius: 42px;" type="text"
                                (keyup)="applyFilter($event.target.value)" placeholder="Search emergency handle...">
    
                        </div> -->

                        </div>

                        <table mat-table [dataSource]="emergencyDataSource" matSort class="col-md-12" matSort>

                            <!-- Bed Type Column -->
                            <ng-container matColumnDef="id">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>id
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Total Beds Column -->
                            <ng-container matColumnDef="hospitalID">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>
                                        hospitalID</strong> </th>
                                <td mat-cell *matCellDef="let element"> {{element.hospitalID}} </td>
                            </ng-container>

                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="hospitalName">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Hospital Name
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
                            </ng-container>

                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="aStatus">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>aStatus
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.aStatus}} </td>
                            </ng-container>

                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="emergency">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Emergency
                                        handle name
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.emergency}} </td>
                            </ng-container>



                            <!-- Edit and Delete On Column -->
                            <ng-container [matColumnDef]="'actions'">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong> </strong> </th>
                                <td mat-cell *matCellDef="let element">

                                    <div class="mt-3">

                                        <form #approveHospitalEmergencyForm="ngForm"
                                            (ngSubmit)="approveHospitalEmergencyData(approveHospitalEmergencyForm.value);approveHospitalEmergencyForm.reset();">

                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Hospital ID</mat-label>
                                                    <input matInput placeholder="Enter Hospital ID" type="text"
                                                        [(ngModel)]="element.hospitalID" name="HospitalID" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>CHID</mat-label>
                                                    <input matInput placeholder="Enter CHID" type="text"
                                                        [(ngModel)]="element.id" name="CHID" required>
                                                </mat-form-field>
                                            </div>

                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Astatus</mat-label>
                                                    <input matInput placeholder="Enter AType" type="text"
                                                        [(ngModel)]="EType" name="AType" required>
                                                </mat-form-field>
                                            </div>


                                            <mat-form-field appearance="fill" class="mr-2">
                                                <mat-label>Accept or pending</mat-label>
                                                <mat-select ngModel name="AStatus">
                                                    <mat-option *ngFor="let status of updateStatus" [value]="status.id">
                                                        {{status.value}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>



                                            <button mat-raised-button type="submit" color="warn"
                                                class="btn btn-primary btn-sm ml-4"
                                                style="height: fit-content;">submit</button>

                                        </form>

                                    </div>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedEmergencyColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedEmergencyColumns;"></tr>
                        </table>

                        <table>
                            <tr *ngIf="!emergencyDataSource?.data?.length">
                                <td style="text-align: center;" [attr.colspan]="displayedEmergencyColumns?.length">
                                    <div>
                                        No Records Found !
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>


                        <!-- <button mat-raised-button type="submit" class="btn btn-danger statusbutton" (click)="refreshList()">Refresh Table</button> -->

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!----------------------Approve or pending Specialization ---------------------------->

    <div class="row mt-2">
        <div class="col-3">

            <div class="headerfontstyle">
                <h4>Hospital Specialization -</h4>
            </div>

        </div>


        <div class="col-8">

            <div class="tablealign">

                <div class="mat-elevation-z8">
                    <div class="example-header">
        
                        <div class="row modal-header col-12  text-white hospitalbedstableheader">
        
                            <div class="col-6 mt-2">
        
                                <h2>Specializations</h2>
        
                            </div>
        
                        </div>
        
                        <table mat-table [dataSource]="specializationDataSource" matSort class="col-md-12" matSort>
        
                            <!-- Bed Type Column -->
                            <ng-container matColumnDef="id">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>id </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
        
                            <!-- Total Beds Column -->
                            <ng-container matColumnDef="hospitalID">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>
                                        hospitalID</strong> </th>
                                <td mat-cell *matCellDef="let element"> {{element.hospitalID}} </td>
                            </ng-container>
        
                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="hospitalName">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Hospital Name
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
                            </ng-container>
        
                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="aStatus">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>aStatus
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.aStatus}} </td>
                            </ng-container>
        
                            <!-- Beds Available  Column -->
                            <ng-container matColumnDef="spilizationName">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Specialization name
                                    </strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.spilizationName}} </td>
                            </ng-container>
        
        
        
                            <!-- Edit and Delete On Column -->
                            <ng-container [matColumnDef]="'actions'">
                                <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong> </strong> </th>
                                <td mat-cell *matCellDef="let element">
        
                                    <div class="mt-3">
        
        
                                        <form #approveHospitalSpecializationForm="ngForm"
                                            (ngSubmit)="approveHospitalSpecializationData(approveHospitalSpecializationForm.value);approveHospitalSpecializationForm.reset();">
        
                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Hospital ID</mat-label>
                                                    <input matInput placeholder="Enter Hospital ID" type="text"
                                                        [(ngModel)]="element.hospitalID" name="HospitalID" required>
                                                </mat-form-field>
                                            </div>
        
                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>CHID</mat-label>
                                                    <input matInput placeholder="Enter CHID" type="text"
                                                        [(ngModel)]="element.id" name="CHID" required>
                                                </mat-form-field>
                                            </div>
        
                                            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                                                <mat-form-field fxFlex="25">
                                                    <mat-label>Astatus</mat-label>
                                                    <input matInput placeholder="Enter AType" type="text" [(ngModel)]="SType"
                                                        name="AType" required>
                                                </mat-form-field>
                                            </div>
        
        
                                            <mat-form-field appearance="fill" class="mr-2">
                                                <mat-label>Accept or pending</mat-label>
                                                <mat-select ngModel name="AStatus">
                                                    <mat-option *ngFor="let status of specializationStatus" [value]="status.id">
                                                        {{status.value}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
        
        
        
                                            <button mat-raised-button type="submit" color="warn"
                                                class="btn btn-primary btn-sm ml-4" style="height: fit-content;">submit</button>
        
                                        </form>
        
                                    </div>
        
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedSpecializationColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedSpecializationColumns;"></tr>
                        </table>
        
                        <table>
                            <tr *ngIf="!specializationDataSource?.data?.length">
                                <td style="text-align: center;" [attr.colspan]="displayedSpecializationColumns?.length">
                                    <div>
                                        No Records Found !
                                    </div>
        
                                </td>
                            </tr>
                        </table>
        
                        <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
        
        
                        <!-- <button mat-raised-button type="submit" class="btn btn-danger statusbutton" (click)="refreshList()">Refresh Table</button> -->
        
                    </div>
                </div>
        
            </div>
        

        </div>

    </div>


    <mat-divider></mat-divider>

    <div class="mt-3 ml-3 mb-2">
        <h2>Approve or reject hospital</h2>
    </div>


    <div class="mt-3">


        <form #approveHospitalForm="ngForm"
            (ngSubmit)="approveHospitalData(approveHospitalForm.value);approveHospitalForm.reset();">

            <div class="text-center mt-3 justify-content-center col-md-12" hidden>
                <mat-form-field fxFlex="25">
                    <mat-label>Hospital ID</mat-label>
                    <input matInput placeholder="Enter Hospital ID" type="text" [(ngModel)]="hospitalID"
                        name="HospitalID" required>
                </mat-form-field>
            </div>




            <mat-form-field appearance="fill" class="mr-2">
                <mat-label>Accept or reject</mat-label>
                <mat-select ngModel name="AStatus">
                    <mat-option *ngFor="let status of updateStatus" [value]="status.id">
                        {{status.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field fxFlex="25" class="ml-3">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Enter Description" type="text" ngModel name="Description">
            </mat-form-field>


            <mat-form-field fxFlex="25" class="ml-3">
                <mat-label>User Email</mat-label>
                <input matInput placeholder="Enter Description" type="text" ngModel name="email">
            </mat-form-field>

            <!-- <mat-form-field fxFlex="25" class="ml-3" >
                <mat-label>form type</mat-label>
                <input matInput placeholder="Enter Description" value="2" type="text" ngModel name="formtype">
            </mat-form-field> -->





            <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-sm ml-4"
                style="height: fit-content;">submit</button>


        </form>

    </div>



</div>