<div class="mt-3 ml-3">
    <h1>Manage Admin Users</h1>
  </div>

<mat-divider></mat-divider>
<div class="row mt-4 ml-3" style="width: 45%;">
    <!-- <div class="col">
      <h3>Manage Admin Users</h3>
    </div>  -->
  
    <div class="col mb-3">

      <span style="font-size: 15px;">
            Create new admin user
      </span> 
      <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-sm ml-4"
      (click)="onCreateAdminUser()"> + create</button>
    </div>
     
    </div>

  
    <div class="grid-container">
  
      <div class="vmedo-admin-enquiry-table">
          <div style="box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;">
  
              <div class="row modal-header col-12  text-white vmedoadmintableheader">
  
                  <div class="col-6 mt-2">
  
                      <h2>Total admin users - {{dataSource.data?.length}}</h2>
  
                  </div>
  
                  <div class="col-6 mt-2 mb-1 form-group" style="color:white;justify-content: flex-end;">
                      <input class="form-control" fxFlex="50%" style="border-radius: 12px;" type="text"
                          (keyup)="doFilter($event.target.value)" placeholder="Search...">
                  </div>
  
              </div>
  
  
              <table mat-table matSort [dataSource]="dataSource">
  
  
                <ng-container matColumnDef="id" hidden>
                  <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Sl no</strong>
                  </th>
                  <td mat-cell *matCellDef="let element" > {{element.id}} </td>
              </ng-container>
                 
                  <ng-container matColumnDef="userEmail">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>User Email</strong>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
                  </ng-container>
  
  
                  
                  <ng-container matColumnDef="userMobile">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>
                        User Mobile</strong></th>
                      <td mat-cell *matCellDef="let element">{{element.userMobile}} </td>
                  </ng-container>
  
  
                  
                  <ng-container matColumnDef="userName">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Username</strong>
                      </th>
                      <td mat-cell *matCellDef="let element">{{element.userName}}</td>
                  </ng-container>
  
                
                  <ng-container matColumnDef="roleType">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Role type</strong>
                      </th>
                      <td mat-cell *matCellDef="let element">  {{ getRoleName(element.roleType) }}</td>
                  </ng-container>
  
                 
                  <ng-container matColumnDef="astatus">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Status</strong>
                      </th>
                      <td mat-cell *matCellDef="let element" [ngClass]="{'false-value': element.astatus === false, 'true-value': element.astatus === true}" style="font-weight: 500;"> {{element.astatus ? 'Active' : 'Inactive'}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="createdontime">
                    <th class="headerstyle" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Created on</strong>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdontime | date : medium}} </td>
                </ng-container>
  
  
                  
                  <ng-container [matColumnDef]="'actions'">
                      <th class="headerstyle" mat-header-cell *matHeaderCellDef><strong>Actions</strong> </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;">
                          
      
  
                              <button class="mr-3" mat-icon-button (click)="onEditAdminUsers(element)"
                                  matTooltip="Update">
                                  <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                              </button>
  
                         
                         
                       
                      </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              </table>
  
              <mat-paginator [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons
                  aria-label="Select page of periodic elements">
              </mat-paginator>
  
  
          </div>
  
      </div>
  </div>
  
  <mat-divider></mat-divider>
  
  