<div class="text-right modal-header bg-primary text-white" style="padding-bottom: 0px;">
  <h3 style="text-align: center;">Create Product Variant</h3>

  <button mat-icon-button aria-label="close dialog" mat-dialog-close type="button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div class="container mt-4" style="display: flex; justify-content: center;">
  <form #variantForm="ngForm" (ngSubmit)="onSubmit(variantForm)" style="width: 90%;">

    <!-- Select Product -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Select Product</mat-label>
      <mat-select name="productId" ngModel required>
        <mat-option *ngFor="let p of productList" [value]="p.productId">
          {{ p.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Variant Name -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Variant Name</mat-label>
      <input matInput ngModel name="variantName" required>
    </mat-form-field>

    <!-- Price -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Price</mat-label>
      <input matInput type="number" ngModel name="price" required>
    </mat-form-field>

    <!-- Discount Price -->
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Discount Price</mat-label>
      <input matInput type="number" ngModel name="discountPrice" required>
    </mat-form-field>

    <!-- Buttons -->
    <div class="mt-3 mb-4" style="text-align: right;">
      <button mat-raised-button color="primary" type="submit">
        Create
      </button>

      <button mat-raised-button color="warn" mat-dialog-close type="button" class="ml-3" (click)="onClose()">
        Cancel
      </button>
    </div>

  </form>
</div>
