<div>


  <div class="mt-1 ml-3">
    <h2 style="color: rgb(11, 100, 160);;">Update Partner Address</h2>
  </div>


  <mat-divider></mat-divider>


  <div class="col-12 mb-3 mt-3">


    <form #updateVmedoPartnerAddressForm="ngForm"
      (ngSubmit)="updateVmedoPartnersAddressData(updateVmedoPartnerAddressForm.value);updateVmedoPartnerAddressForm.reset()">


      <div class="row" style="display: flex;justify-content: center;">


        <div class="col-2" hidden>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>ID</mat-label>
            <input matInput placeholder="Partner ID" [(ngModel)]="selectedPartnerID" type="number" name="partner_id">
          </mat-form-field>

        </div>

        <div class="col-2" hidden>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Partner Address ID</mat-label>
            <input matInput placeholder="Partner ID" [(ngModel)]="selectedPartnerAddressID" type="number" name="id">
          </mat-form-field>

        </div>


        <div class="col-12">

          <mat-form-field appearance="outline" fxFlex="100">
            <input type="text" placeholder="Enter partner address" matInput [formControl]="inputValue"
              [matAutocomplete]="auto" [(ngModel)]="PartnerAddressDetails.partnerorg_address">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let location of filteredLocations | async" [value]="location.description"
                name="partnerorg_address" (onSelectionChange)="optionSelected(location)">
                {{ location.description }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>


      </div>


      <div class="row" style="display: flex;justify-content: center;">


        <div class="col-4">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select City</mat-label>
            <input type="text"
                   placeholder="Select city"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto2" (click)="onClickButton()" required>
  
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"  >
              <mat-option *ngFor="let option of filteredOptions | async" ngDefaultControl  [(ngModel)]="selectedPartnerCity" name="partner_city" (onSelectionChange)="optionCitySelected(option)" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <!-- <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{ partnerCity }}</mat-label>


            <mat-select ngModel name="partner_city">
              <mat-option *ngFor="let partnerCity of partnerCities?.objorg" [value]="partnerCity.name">
                {{partnerCity.name}}
              </mat-option>
            </mat-select>


          </mat-form-field> -->


        </div>


        <div class="col-4">


          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Area</mat-label>
            <input matInput placeholder="Enter area" [(ngModel)]="PartnerAddressDetails.partner_area" type="text" name="partner_area">
          </mat-form-field>


        </div>


        <div class="col-4">


          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Pincode</mat-label>
            <input matInput placeholder="Enter pincode" [(ngModel)]="PartnerAddressDetails.partner_pincode" type="text" name="partner_pincode">
          </mat-form-field>


        </div>

      </div>


      <div class="row" style="display: flex;justify-content: center;" >
        <div class="col-6">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="Enter latitude" [(ngModel)]="PartnerAddressDetails.latitude" name="latitude">
          </mat-form-field>
        </div>
        
        <div class="col-6">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="Enter Longitude" [(ngModel)]="PartnerAddressDetails.longitude" name="longitude">
          </mat-form-field>
        </div>
      </div>



      <div class="row" style="display: flex;justify-content: center;">
        <div class="col-3" style="text-align: center;">
          <button mat-raised-button color="primary" class="btn-sm ml-4" style="height: fit-content;" type="submit"
            [disabled]="!updateVmedoPartnerAddressForm.valid">Update Partner Address</button>
        </div>


        <div class="col-5" style="text-align: center;">
          <button mat-raised-button color="warn" mat-dialog-close class="ml-3">
            Cancel
          </button>
        </div>


      </div>



    </form>



  </div>


</div>